/**** SEARCH INPUT CONTAINER ****/
.search-container {
	margin-top: 40px;
}

/**** SEARCH RESULT CONTAINER ****/
.tree ul, tree ol, tree dl{
	font-size: 14px;
	 list-style-type: none;
}
.section-header {
	color: #e78717;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 20px !important;
}
.item-figure {
	width: 48px;
	height: 48px;
	display: block;
	margin: 0;
}
.type-pdf {
	background: url('../img/pdf.png') no-repeat;
}
.item-detail .item-title {
	font-size: 14px;
	color: blue;
}
.item-detail .item-fragment {
	font-size: 12px;
}
.item-detail .item-path {
	font-size: 12px;
	color: green;
}
.search-item {
	margin-bottom: 10px !important;
}