/**** SEARCH INPUT CONTAINER ****/
.search-container {
	background: none repeat scroll 0 0 #f1f1f1;
    padding-top: 10px;
    border-bottom: 1px solid #e5e5e5;
}

/**** SEARCH RESULT CONTAINER ****/
.tree ul, tree ol, tree dl{
	font-size: 14px;
	 list-style-type: none;
}
.result-container {
	margin-top: 20px;
}
.section-header {
	color: #e78717;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 20px !important;
}
.item-detail .item-title {
	font-size: 14px;
	color: blue;
}
.item-detail .item-fragment {
	font-size: 12px;
}
.item-detail .item-path {
	font-size: 12px;
	color: green;
}
.item-detail .item-detail-uri {
	font-size: 10px;
}
.search-item {
	margin-bottom: 10px !important;
}
.jqtree-title {
	text-decoration: underline;
	color: blue;
	font-weight: 400;
}
.jqtree-title:hover {
	cursor: pointer;
}
.tree {
	padding-top: 10px;
	background: none repeat scroll 0 0 #f2f2f2;
    text-transform: capitalize;
}


@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

.loading {
	display:none;
	background-color: #FF4136;
	opacity: 0.75;
	width: 40px;
  	height: 40px;
  	position: absolute;
  	top: 50%;
  	margin: -5px auto 0 auto;
  	left: 0;
  	right: 0;
  	border-radius: 0px;
  	border: 5px solid #FF4136;
  	box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  	animation: shadowSpin 1s ease-in-out infinite;
}


a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: "â€œ";
  position: absolute;
  left: -.4em;
}

blockquote:after {
  content: "â€";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  position: absolute;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}

path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}
.link-dim {
	opacity: .1;
}